<section class="container ">
<app-image></app-image>

  <div class="row mt-5 d-flex">

    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>

  </div>
  <div class="row mt-3 d-flex">

    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>

  </div>
  <div class="row mt-3 d-flex">

    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/100" alt="" class='img-fluid'>
    </div>

  </div>

</section>
