<section class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2>Get in touch with Austin</h2>
    <p class="lead">Please fill out the form below to contact me.</p>
  </div>

  <h4 class="mb-3">Billing address</h4>
  <form class="needs-validation" novalidate>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
        <div class="invalid-feedback">
          Valid first name is required.
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
        <div class="invalid-feedback">
          Valid last name is required.
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="email">Email <span class="text-muted">(Optional)</span></label>
      <input type="email" class="form-control" id="email" placeholder="you@example.com">
      <div class="invalid-feedback">
        Please enter a valid email address for shipping updates.
      </div>
    </div>

    <div class="mb-3">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" placeholder="(xxx) xxx-xxxx" required>
      <div class="invalid-feedback">
        Please enter your phone #.
      </div>
    </div>
    <button class="btn btn-primary btn-lg btn-block" type="submit">Send</button>
  </form>

</section>
