<section class="container">
  <h2>Store</h2>
  <p class="lead">
    Buy your favorite ARp goodness here!!!
  </p>
  <div class="row">
    <div class="col-md-3">
      <h4> 365 </h4>
      <h6>Desription: pdf</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate totam molestiae officia culpa amet
        quibusdam, cumque nostrum quae tempora? Optio ex veritatis harum odit, cumque nam praesentium recusandae quod
        ullam!</p>
    </div>
    <div class="col-md-3">
      <h4> 365</h4>
      <h6>Desription: hardcopy</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate totam molestiae officia culpa amet
        quibusdam, cumque nostrum quae tempora? Optio ex veritatis harum odit, cumque nam praesentium recusandae quod
        ullam!</p>
    </div>
    <div class="col-md-3">
      <h4> 1000 Days</h4>
      <h6>Desription: hardcopy</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate totam molestiae officia culpa amet
        quibusdam, cumque nostrum quae tempora? Optio ex veritatis harum odit, cumque nam praesentium recusandae quod
        ullam!</p>
    </div>
    <div class="col-md-3">
      <h4> 1000 Days</h4>
      <h6>Desription: pdf</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate totam molestiae officia culpa amet
        quibusdam, cumque nostrum quae tempora? Optio ex veritatis harum odit, cumque nam praesentium recusandae quod
        ullam!</p>
    </div>
    <div class="col-md-3">
      <h4> Digital image</h4>
      <h6>Desription: pdf</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate totam molestiae officia culpa amet
        quibusdam, cumque nostrum quae tempora? Optio ex veritatis harum odit, cumque nam praesentium recusandae quod
        ullam!</p>
    </div>
    <div class="col-md-3">
      <h4> image</h4>
      <h6>Desription: hardcopy</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate totam molestiae officia culpa amet
        quibusdam,
        cumque nostrum quae tempora? Optio ex veritatis harum odit, cumque nam praesentium recusandae quod ullam!</p>
    </div>
  </div>
</section>
