<section class="container">
  <h2>Store</h2>
  <p class="lead">
    Buy your favorite ARp goodness here!!!
  </p>
  <div class="row">
    <div class="col-md-3">
      <h4> 365 </h4>
      <h6> pdf <i class="far fa-file-pdf red"></i></h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate totam molestiae officia culpa amet
        quibusdam, cumque nostrum quae tempora? Optio ex veritatis harum odit, cumque nam praesentium recusandae quod
        ullam!</p>
<p class="lead"><span class="price"> $x.xx </span> <i class="far fa-plus-square red ml-5"></i></p>
    </div>
    <div class="col-md-3">
      <h4> 365</h4>
      <h6> hardcopy <i class="fas fa-book-open red"></i></h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate totam molestiae officia culpa amet
        quibusdam, cumque nostrum quae tempora? Optio ex veritatis harum odit, cumque nam praesentium recusandae quod
        ullam!</p>
      <p class="lead"><span class="price"> $x.xx </span> <i class="far fa-plus-square red ml-5"></i></p>
    </div>

    <div class="col-md-3">
      <h4> 1000 Days </h4>
      <h6> pdf <i class="far fa-file-pdf red"></i></h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate totam molestiae officia culpa amet
        quibusdam, cumque nostrum quae tempora? Optio ex veritatis harum odit, cumque nam praesentium recusandae quod
        ullam!</p>
<p class="lead"><span class="price"> $x.xx </span> <i class="far fa-plus-square red ml-5"></i></p>
    </div>
    <div class="col-md-3">
      <h4> 1000 Days</h4>
      <h6> Hardcopy <i class="fas fa-book-open red"> </i></h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate totam molestiae officia culpa amet
        quibusdam, cumque nostrum quae tempora? Optio ex veritatis harum odit, cumque nam praesentium recusandae quod
        ullam!</p>
<p class="lead"><span class="price"> $x.xx </span> <i class="far fa-plus-square red ml-5"></i></p>
    </div>
    <div class="col-md-3">
      <h4> Digital Image</h4>
      <h6> .jpg <i class="fas fa-cloud-download-alt red"></i></h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate totam molestiae officia culpa amet
        quibusdam, cumque nostrum quae tempora? Optio ex veritatis harum odit, cumque nam praesentium recusandae quod
        ullam!</p>
<p class="lead"><span class="price"> $x.xx </span> <i class="far fa-plus-square red ml-5"></i></p>
    </div>
    <div class="col-md-3">
      <h4> Printed Image</h4>
      <h6> hardcopy <i class="far fa-image red"></i> </h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate totam molestiae officia culpa amet
        quibusdam, cumque nostrum quae tempora? Optio ex veritatis harum odit, cumque nam praesentium recusandae quod
        ullam!</p>
<p class="lead"><span class="price"> $x.xx </span> <i class="far fa-plus-square red ml-5"></i></p>
    </div>
  </div>
</section>
