<h2>{{title}}</h2>
<p>Testing Options</p>

<div class='row'>
  <div *ngFor='let orient of orients' class="inline pr-3">
<input type="radio" name="orientsOfTheWeek" value="{{orient}}" (change)="radioChangeHandler($event)">
    <em class="pl-1">{{orient}}</em>
  </div>
  <code>You selected: {{selectedOrient}}</code>
</div>
<div class="row my-5">
  <div class="col-sm-6">
    <img src="{{photo.src}}" class="img-fluid" alt="{{photo.name}}">
  </div>
  <div class="col-sm">
    <h4>{{photo.name}}</h4>
    <p><strong>ID: </strong>{{photo.id}}</p>
    <p><strong>Date: </strong>{{photo.addedDate}}</p>
    <p><strong>Description: </strong>{{photo.description}}</p>
    <p><strong>Project: </strong>{{photo.project}}</p>
  </div>
</div>
