<section class="container my-5">
  <div class="row">
    <div class="col">
      <h2>About Austin</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quaerat cumque quasi at, totam consequuntur,
        omnis
        eligendi exercitationem illo ut sequi dolor amet consequatur! Atque cupiditate ratione nam minus veritatis!</p>
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/150x400" alt="austin" class="img-fluid">
    </div>

  </div>

</section>
