<section class="container">
  <h2>What I can do for YOU</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad reprehenderit voluptates quos? Nobis, saepe
    necessitatibus, impedit ipsa distinctio aliquid sequi neque corrupti doloribus quisquam hic fugit voluptate
    repellendus alias aliquam.</p>



  <div class="row">
    <div class="col">
      <h3>Service 1</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad distinctio corrupti cum aliquid atque libero
        optio nihil harum? Perspiciatis, laudantium rem qui officiis tempore neque maiores voluptatem veniam expedita
        nam.</p>
    </div>
    <div class="col">
      <h3>Service 2</h3>
      <p>Officia, voluptatum. Eligendi, similique ipsa. Optio blanditiis rerum ipsam sunt esse, dignissimos laudantium
        voluptatum consequuntur error nobis tenetur vero fugit. Magnam provident quod distinctio beatae natus
        blanditiis explicabo maiores impedit.</p>
    </div>
    <div class="col">
      <h3>Service 3</h3>
      <p>Deleniti consectetur minus nam pariatur debitis, voluptatum sunt, dicta perspiciatis, aliquid sapiente quia
        praesentium dolorum labore exercitationem porro incidunt nisi non nemo ratione doloremque! Consectetur placeat
        eius voluptatibus consequuntur mollitia?</p>
    </div>
  </div>
</section>
