<!-- <div class="center">
  <img src="https://via.placeholder.com/1440x500" alt="" class='img-fluid'>
  
  <p class="intro mx-auto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione autem accusantium exercitationem
    error ipsum iste officiis rem nihil? Vero repellendus sint tenetur magni reprehenderit aspernatur nostrum recusandae,
    dolore corporis voluptate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate tenetur maiores
    architecto aliquid culpa voluptate quisquam veniam fugit velit ut. Repudiandae sapiente earum facilis. Voluptates
    saepe dicta iure ipsum soluta.</p>
</div> -->

<div class="container-fluid">
  <div style="color: blue;">
    <h1>{{title}}</h1>
    <h3>{{description}}</h3>
  </div>

  <div style="width: 300px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="item">Item</label> <input type="text" class="form-control" placeholder="Enter content..." id="item"
          required [(ngModel)]="itemValue" name="item">
      </div>

      <div class="btn-group">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>

  <h2>Content from Firebase</h2>
  <div class="col-md-3">
    <pre *ngFor="let item of items | async">{{item.content}}</pre>
  </div>
</div>