<section class="row login">
  <div *ngIf="user.auth" class="col d-flex">
    <p class="greeting ml-5">Welcome back, <strong>{{user.name}}</strong>. <button type="submit" (click)="onClick()"
        class="btn btn-outline-light btn-sm ml-5">Log Out</button></p>

  </div>
  <div *ngIf="!user.auth" class="col-sm">
    <form>
      <div class="row m-3">
        <div class="form-group col-sm">
          <input type="text" class="form-control form-control-sm" id="username" placeholder="Enter User Name">
        </div>
        <div class="form-group col-sm">
          <input type="password" class="form-control form-control-sm" id="pw" placeholder="Password">
        </div>
        <div class="form-check col-sm">
          <input type="checkbox" class="form-check-input" id="pesistant">
          <label class="form-check-label" for="pesistant">Keep me signed In</label>
        </div>

        <div class="col-sm">
          <button type="submit" (click)="onClick()" class="btn btn-primary btn-sm">Submit</button>
        </div>
      </div>
    </form>
  </div>
</section>
