/* You can add global styles to this file, and also import other style files */

$red: #ff0000;
$green: #016312;
$gray: rgb(85, 85, 85);

.red {
  color: $red;
}

.price {
  color: $green;
  font-weight: 700;
}

.login {
  background-color: $gray;
}
